<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devlovecode.aiperm.modules.system.mapper.SysPostMapper">

    <resultMap id="BaseResultMap" type="com.devlovecode.aiperm.modules.system.entity.SysPost">
        <id column="id" property="id"/>
        <result column="post_name" property="postName"/>
        <result column="post_code" property="postCode"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
    </resultMap>

    <select id="selectByPostCode" resultMap="BaseResultMap">
        SELECT * FROM sys_post
        WHERE post_code = #{postCode}
          AND deleted = 0
        LIMIT 1
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT p.*
        FROM sys_post p
                 INNER JOIN sys_user_post up ON p.id = up.post_id
        WHERE up.user_id = #{userId}
          AND p.deleted = 0
        ORDER BY p.sort
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT * FROM sys_post
        WHERE id IN
        <foreach collection="postIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
          AND deleted = 0
        ORDER BY sort
    </select>

    <select id="selectPostPage" resultMap="BaseResultMap">
        SELECT * FROM sys_post
        WHERE deleted = 0
        <if test="postName != null and postName != ''">
            AND post_name LIKE CONCAT('%', #{postName}, '%')
        </if>
        <if test="postCode != null and postCode != ''">
            AND post_code LIKE CONCAT('%', #{postCode}, '%')
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY sort ASC, create_time DESC
    </select>

</mapper>
